
@{ ViewBag.Title = "Index"; }

<section id="M-slider">
    <div class="M-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">

                    @foreach (var item in @ViewBag.Slider)
                    {
                        <li>
                            <div class="seq-model">
                                <img data-seq src="@item.ImageURL" alt="@item.AltText" />
                            </div>
                            <div class="seq-title">
                                <span data-seq>@item.OfferTag</span>
                                <h2 data-seq>@item.Title</h2>
                                <p data-seq>@item.Description</p>
                                <a data-seq href="#" class="M-shop-now-btn M-secondary-btn">@item.BtnText</a>
                            </div>
                        </li>
                    }

                </ul>
            </div>
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" href="" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" href="" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<section id="M-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="M-promo-area">
                    <div class="row">
                        <div class="col-md-5 no-padding">
                            <div class="M-promo-left">
                                <div class="M-promo-banner">
                                    <img src="~/Content/img/promo-banner-womens.jpg" alt="img">
                                    <div class="M-prom-content">
                                        <span>75% Off</span>
                                        <h4><a href="@Url.Action("GetProductsByCategory", "Product", new { @categoryName = "Women" })">For Women</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 no-padding">
                            <div class="M-promo-right">
                                @foreach (var item in @ViewBag.PromoRight)
                                {
                                    <div class="M-single-promo-right">
                                        <div class="M-promo-banner">
                                            <img src="@item.ImageURL" alt="@item.AltText">
                                            <div class="M-prom-content">
                                                <span>@item.OfferTag</span>
                                                <h4><a href="@Url.Action("GetProductsByCategory", "Product", new { @categoryName = @item.Category.Name })">@item.Title</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="M-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="M-product-area">
                        <div class="M-product-inner">
                            <ul class="nav nav-tabs M-products-tab">
                                <li class="active"><a href="#men" data-toggle="tab">Men</a></li>
                                <li><a href="#women" data-toggle="tab">Women</a></li>
                                <li><a href="#sports" data-toggle="tab">Sports</a></li>
                                <li><a href="#electronics" data-toggle="tab">Electronics</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="M-product-catg">
                                        @foreach (var item in (List<ClientWeb.Models.Product>)@ViewBag.MenProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                    </ul>
                                    <a class="M-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                                </div>

                                <div class="tab-pane fade" id="women">
                                    <ul class="M-product-catg">
                                        @foreach (var item in (List<ClientWeb.Models.Product>)@ViewBag.WomenProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                    </ul>
                                    <a class="M-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                                </div>

                                <div class="tab-pane fade" id="sports">
                                    <ul class="M-product-catg">
                                        @foreach (var item in (List<ClientWeb.Models.Product>)@ViewBag.SportsProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }

                                    </ul>
                                    <a class="M-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>

                                </div>

                                <div class="tab-pane fade" id="electronics">
                                    <ul class="M-product-catg">
                                        @foreach (var item in (List<ClientWeb.Models.Product>)@ViewBag.ElectronicsProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                    </ul>
                                    <a class="M-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
