<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cairene.com | @ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="~/Content/js/jquery.min.js"></script>

    <link href="~/Content/Intellisence/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/Intellisence/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Intellisence/js/jquery-ui.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $("#searchTxtBox").autocomplete({
                source: '@Url.Action("GetProducts","Product")'
            });
        });
    </script>

</head>
<body>
    <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
            <span>Loading</span>
        </div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <header id="M-header">
        <div class="M-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="M-header-top-area">
                            <div class="M-header-top-left">
                            </div>
                            <div class="M-header-top-right">
                                <ul class="M-head-top-nav-right">

                                    <li><a href="@(Session["username"] != null ? Url.Action("Index", "Account") : Url.Action("Login", "Account"))">My Account</a></li>
                                    <li class="hidden-xs">
                                        <a href="@(Session["username"] != null ? Url.Action("Index", "WishList") : Url.Action("Login", "Account"))">
                                            Wishlist @if (@ViewBag.WlItemsNo > 0)
                                            {<text>(@ViewBag.WlItemsNo)</text>}
                                        </a>
                                    </li>
                                    <li class="hidden-xs">
                                        <a href="@(Session["username"] != null ? Url.Action("Index", "MyCart") : Url.Action("Login", "Account"))">
                                            My Cart @if (@ViewBag.NoOfItem > 0)
                                            {<text>(@ViewBag.NoOfItem)</text>}
                                        </a>
                                    </li>
                                    <li class="hidden-xs"><a href="@(Session["username"] != null ? Url.Action("Index", "CheckOut") : Url.Action("Login", "Account"))">Checkout</a></li>
                                    <li class="hidden-xs">
                                        <a href="@(Session["username"] != null ? Url.Action("Index", "WishList") : Url.Action("Login", "Account"))">
                                            Wishlist @if (@ViewBag.WlItemsNo > 0)
                                            {<text>(@ViewBag.WlItemsNo)</text>}
                                        </a>
                                    </li>
                                    <li class="hidden-xs">
                                        <a href="@(Session["username"] != null ? Url.Action("Index", "WishList") : Url.Action("Login", "Account"))">
                                            Wishlist @if (@ViewBag.WlItemsNo > 0)
                                            {<text>(@ViewBag.WlItemsNo)</text>}
                                        </a>
                                    </li>
                                    @if (Session["username"] == null)
                                    {

                                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Logout","Account")">Logout</a></li>
                                        <li><a href="">@Session["username"]</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="M-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="M-header-bottom-area">
                            <div class="M-logo">
                                <a href="@Url.Action("Index","Home")">
                                    <span class="fa fa-shopping-cart"></span>
                                    <p>Cairene<strong>.com</strong> <span>By B201200552</span></p>
                                </a>
                            </div>
                            <div class="M-cartbox">
                                <a class="M-cart-link" href="#">
                                    <span class="fa fa-shopping-basket"></span>
                                    <span class="M-cart-title">SHOPPING CART</span>
                                    <span class="M-cart-notify">@(ViewBag.NoOfItem==null ? 0 :ViewBag.NoOfItem)</span>
                                </a>
                                <div class="M-cartbox-summary">
                                    <ul>
                                        @if (Session["username"] != null)
                                        {
                                            Html.RenderPartial("_CartBox");

                                        }
                                    </ul>
                                    <a class="M-cartbox-checkout M-primary-btn" href="@Url.Action("Index","CheckOut")">Checkout</a>
                                </div>
                            </div>
                            <div class="M-search-box">
                                <form action="@Url.Action("Search","Product")" method="get">
                                    <input type="text" name="product" id="searchTxtBox" placeholder="Search product here . . . ">
                                    <button type="submit"><span class="fa fa-search"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="menu">
        <div class="container">
            <div class="menu-area">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            @{ ClientWeb.Models.DBEntities db = new ClientWeb.Models.DBEntities();
                                Dictionary<string, IEnumerable<string>> navbar = new Dictionary<string, IEnumerable<string>>();

                                List<ClientWeb.Models.Category> Categories = db.Categories.ToList();
                                foreach (ClientWeb.Models.Category cat in Categories)
                                {
                                    IEnumerable<string> subCat = db.SubCategories.Where(x => x.CategoryID == cat.CategoryID).Select(x => x.Name).ToList();
                                    navbar.Add(cat.Name, subCat);
                                }
                                int count = 0;
                                foreach (KeyValuePair<string, IEnumerable<string>> nav in navbar)
                                {
                                    if (count < 8)
                                    {
                                        <li>
                                            <a href="">@nav.Key<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                @foreach (var subNav in nav.Value)
                                                {
                                                    <li><a href="@Url.Action("GetProductsByCategory","Product", new { categoryName = subNav.Trim() })">@subNav.Trim()</a></li>
                                                }
                                            </ul>
                                        </li>
                                        count++;
                                    }
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @RenderBody()

    <footer id="M-footer">
        <div class="M-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="M-footer-top-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="M-footer-widget">
                                        <h3>Main Menu</h3>
                                        <ul class="M-footer-nav">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Our Services</a></li>
                                            <li><a href="#">Our Products</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="M-footer-widget">
                                        <div class="M-footer-widget">
                                            <h3>Knowledge Base</h3>
                                            <ul class="M-footer-nav">
                                                <li><a href="#">Delivery</a></li>
                                                <li><a href="#">Returns</a></li>
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">Discount</a></li>
                                                <li><a href="#">Special Offer</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="M-footer-widget">
                                        <div class="M-footer-widget">
                                            <h3>Useful Links</h3>
                                            <ul class="M-footer-nav">
                                                <li><a href="#">Site Map</a></li>
                                                <li><a href="#">Search</a></li>
                                                <li><a href="#">Advanced Search</a></li>
                                                <li><a href="#">Suppliers</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="M-footer-widget">
                                        <div class="M-footer-widget">
                                            <h3>Contact Us</h3>
                                            <address>
                                                <p>Turkey, Istanbul</p>
                                                <p><span class="fa fa-phone"></span>02212212212</p>
                                                <p><span class="fa fa-envelope"></span>help@B201200552.com.tr</p>
                                            </address>
                                            <div class="M-footer-social">
                                                <a href="#"><span class="fa fa-facebook"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-youtube"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @Scripts.Render("~/Content/js")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(function () { $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#login-modal');
                $(this).attr('data-toggle', 'modal');
            });

            $('body').on('click', '.modal-close-btn', function () {
                $('#login-modal').modal('hide');
            });

            $('#login-modal').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
            });
        </script>
</body>
</html>